@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffc96b;
  --foreground: #171108;
  --primary: #E09D29;
  --secondary: #E0BD8A;
  --accent: #69CC74;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #18140c;
    --foreground: #eae8e4;
    --primary: #ddc390;
    --secondary: #E09D29;
    --accent: #ffc96b;
  }
}

@layer base {
  main {
    @apply w-3/4 mx-auto;
  }
  header {
    font-size: 24px;
    font-weight: semi-bold;
  }
  body {
    color: var(--foreground);
    background: var(--background);
    font-family: 'IBM Plex Mono', monospace;
  }

  h1 {
    font-size: 80px;
    font-weight: bold;
  }

  h2 {
    font-size: 40px;
    font-weight: bold;
  }

  sub {
    font-size: 32px;
  }

  p {
    font-size: 20px;
  }

  .homeButton {
    @apply size-20 p-4 cursor-pointer bg-secondary ease-in-out duration-100 hover:bg-accent hover:-translate-y-1/4;  
  }
}

@keyframes wave {
  0%, 50%, 100% {
    transform: rotate(5deg); /* Start in neutral position */
  }
  25% {
    transform: rotate(-10deg); /* Slight tilt left */
  }
  75% {
    transform: rotate(-10deg); /* Tilt back to left */
  }
}

@layer utilities {
  .animate-wave {
    animation: wave 2s ease-in-out infinite;
  }
}