@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffc96b;
  --foreground: #171108;
  --primary: #E09D29;
  --secondary: #E0BD8A;
  --accent: #69CC74;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
