@import 'tailwindcss';

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@utility animate-wave {
  animation: wave 2s ease-in-out infinite;
}

@utility icon-transition {
  transition:
    transform 0.3s ease-in-out,
    opacity 0.3s ease-in-out;
}

@utility no-scrollbar {
  @apply [scrollbar-width:none] [&::-webkit-scrollbar]:hidden;
}

@layer base {
  :root {
    --background: #ffc96b;
    --foreground: #171108;
    --primary: #e09d29;
    --secondary: #e0bd8a;
    --accent: #69cc74;
  }

  .dark {
    --background: #18140c;
    --foreground: #eae8e4;
    --primary: #d8b05f;
    --secondary: #e09d29;
    --accent: #ffc96b;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    color: var(--foreground);
    background: var(--background);
    font-family: 'IBM Plex Mono', monospace;
    transition:
      background-color 0.3s,
      color 0.3s;
  }

  h1 {
    @apply text-4xl md:text-5xl lg:text-6xl font-bold;
  }

  h2 {
    @apply text-3xl md:text-4xl font-bold;
  }

  h3 {
    @apply text-lg md:text-xl font-bold;
  }

  sub {
    @apply text-xl md:text-2xl;
  }

  p {
    @apply text-base md:text-xl;
  }
}

@layer components {
  .homeButton {
    @apply size-12 md:size-20 p-2 md:p-4 cursor-pointer bg-secondary ease-in-out duration-100 hover:bg-accent hover:-translate-y-1/4;
  }
}

@layer utilities {
  @keyframes wave {
    0%,
    50%,
    100% {
      transform: rotate(5deg); /* Start in neutral position */
    }
    25% {
      transform: rotate(-10deg); /* Slight tilt left */
    }
    75% {
      transform: rotate(-10deg); /* Tilt back to left */
    }
  }
}
